{% extends 'base.html' %}

{% block TITLE %}
    {{ title }}
{% endblock TITLE %}

{% block CONTENT %}
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p>Status: {{ task.status }}</p>
    <p>Created at: {{ task.created_at }}</p>


    <div class="forms">
        <div class="comments">
            <h3>Leave comments</h3>
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="rating">
            <h3>Rating task</h3>

            <form action="{% url 'rating' %}" method="post">
                {% csrf_token %}
                {{ rating_form }}
                <button type="submit">Submit</button>
            </form>
        </div>


    </div>

    <div class="list-comments">
        {% if comments %}
            {% for comment in comments %}
                <p>{{ comment.user_name }}: {{ comment.text }}</p>
                <span>{{ comment.created_at }}</span>
            {% endfor %}
        {% else %}
            <p>No comments yet</p>
        {% endif %}
        </div>
{% endblock CONTENT %}